name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release type (major|minor|patch)'
        required: true
        default: patch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://${{ secrets.GH_TOKEN }}@github.com/hezhengxu2018/vitepress-better-demo-plugin.git

      - name: Version and Release
        run: |
          pnpm release-it ${{ github.event.inputs.version }} --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
